exclude .gitignore
exclude .coverage
include LICENSE.txt
include README.rst
include setup.cfg
include ore/data/
# prune .cache
# prune .git
# prune build
# prune dist
# recursive-exclude *.egg-info *
# recursive-include tests *